# =========================
# Python / Backend
# =========================

__pycache__/
*.pyc
*.pyo
*.pyd

backend/__pycache__/
backend/**/*.pyc

# env / secrets
backend/.env
backend/app/credentials/*.json

# logs
*.log


# =========================
# Node / Frontend
# =========================

frontend/node_modules/
frontend/dist/
frontend/dist-ssr/

# logs
frontend/logs/
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

# local env files
frontend/*.local

# =========================
# IDE / Editors
# =========================

frontend/.vscode/
!.vscode/extensions.json

frontend/.idea/

# OS files
.DS_Store
**/.DS_Store

# =========================
# Misc build artifacts
# =========================

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?